.p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;

}
.h1{
    display: block;
    font-weight: bold;
    font-size: 2em;

}
.h2{
    display: block;
    font-weight: bold;
    font-size: 1.5em;

}
.h3{
    display: block;
    font-weight: bold;
    font-size: 1.17em;

}
.h4{
    display: block;
    font-weight: bold;
    font-size: 1em;

}
.h5{
    display: block;
    font-weight: bold;
    font-size: 0.83em;

}
.h6{
    display: block;
    font-weight: bold;
    font-size: 0.67em;

}
.ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    list-style-type: disc;

}
.ol{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    list-style-type: decimal;

}
.form{
    display: block;

}
.table{
    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-collapse: separate;
    text-indent: initial;

}
.btn{
    letter-spacing: initial;
    word-spacing: initial;
    line-height: initial;
    text-transform: initial;
    text-indent: initial;
    text-shadow: initial;
    text-align: center;
    display: inline-block;
    box-sizing: border-box; 
}